@CHARSET "UTF-8";

@font-face{
	font-family: myFirstFont;
	src: url('/font/CHILD.TTF');
}
/******* GENERAL RESET *******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td {
border: 0pt none;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin: 0pt;
padding: 0pt;
vertical-align: baseline;
}
body{
    line-height: 14px;
    font-size: 12px;
    background: #fff;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin: 0pt;
    cursor: default;
}
table{
    border-collapse: separate;
    border-spacing: 0pt;
}
caption, th, td{
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: "";
}
blockquote, q{
    quotes: "" "";
}
input, textarea, select{
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
strong{
    font-weight: 700;
}
ul{
    list-style: outside;
}
a{
    cursor: pointer;
    color: #296ba5;
    text-decoration: none;
}
.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.logo{
	width: 365px;
    height: 71px;
    margin-top: 10px;
}

.facebook_logo{
    height: 28px;
    margin-top: 5px;
}

fieldset{
	padding:10px 30px;
	margin:0;
	border:1px solid #ccc;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	border-radius:1em;
	border-bottom-width:10px;
	width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

legend{
	color:#333;
	padding:0 10px;
	margin:0;
	font-size:1.5em;
	font-weight:400;
}

input{
	width:250px;
}

input,textarea{
	border:1px solid #ccc;
	padding:5px;
	margin:10px 0 0 0;
}

input:focus,textarea:focus{
	background:#ffc;
}

textarea{
	font:.9em Verdana, Arial, Helvetica, sans-serif;
	width:250px;
}

label{
	display:block;
	margin:12px 0 0;
	font-weight:700;
	font-size:.9em;
	float:left;
	clear:left;
	width:100px;
}

label:after{
	content:": ";
}

select{
	border:1px solid #ccc;
	padding:5px;
	width:261px;
	margin:10px 0 0 0;
} 

button{
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
}

/******* /GENERAL RESET *******/
/******* REUSE *******/
h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	color: black;
	/*#6ea6fb;*/
	line-height: 1.8em;
}
h2{
	font-size: 22px;
}
/******* /REUSE *******/
/******* CONTAINER *******/
#container {
    text-align:center;
    width:100%;
    margin-left:auto;
    margin:0 auto;    
}
/******* /CONTAINER *******/
/******* LOGOTYPE *****/
#logotype{	
 	position:relative;	
 	text-align:left;
 	margin-top: 10px;
}
/******* /LOGOTYPE *****/
/******* TOP *******/
#top{
	position:relative;	
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
  
    height:60px;   
    
}
/******* /TOP *******/
/******* MENU *******/
#top #menu{
	position:relative;
	text-align:center; 
 	margin-left: auto;
	margin-right: auto;
	

    /* should be higher than #box */
    z-index:100;
}

#top #menu li{
	/* display the list item in single row 
	float: left;*/
	padding-left: 90px;
	padding-right: 50px;
	font-family: 'Verdana'; 
	font-variant: small-caps;
	font-size: large;
	list-style: none; 
	display: inline;
}

#top #menu li:hover{
    color: #CC017E;
    /*#6fa5fd;*/
    cursor: pointer;
}
/******* /MENU *******/
/******* CONTENT *******/
#content{
  	position:relative;
    color: #7e7e7e;
    margin: 0 0 50px 0;
    line-height: 1.3em;
    text-align:center; 
    width: 500px;
 	margin-left: auto;
	margin-right: auto;
}

#content h2{
   	font-weight: normal;
    padding-bottom: 0px;
    margin-top: 30px;
    border-bottom: 1px dashed #ddd;
    text-align:center;
   
    font-family: 'Verdana'; 
    font-variant: small-caps;
    font-size: x-large;
}

#content p{
	text-align: center;
	font-size: medium;
}

#content a{
	
}

/******* /CONTENT *******/
/******* FOOTER *******/
#footer{
 	position:relative;
 	text-align: center;
	background-color: Black;
	width:100%; 
    height:40px;   
}
/******* /FOOTER *******/
#links{
	text-align: left;
}

#apply{
	text-align: center;
}
